/*body{
    
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkblue;
    
}*/
.p1{
    color: aqua;
    background-color: black;
}
.p2{
    color: blue;
    background-color: beige;
}